
/* .main{
    background: url('../assets/About/stacked-steps-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
} */
.intro {
    font-weight: 600;
    width: 100%;

}


.intro ul {
    width: 100%;
    font-size: 2rem;
}

#name {
    font-weight: 900;
    width: 100%;
    font-size: 3rem;
}
.skills{
    width: 100%;
}

.skills h1 {
    font-weight: 700;
    font-size: 4rem;
}

.skills h5 {
    font-weight: 100;
}

p h5 {
    font-weight: 600;
}

h6 {
    font-weight: 500;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
}
@media (max-width: 767px) {
    .scroll-mobile {
      display: block; 
    }
  }
  