/* div{
    background: url('../assets/stacked-peaks-haikei\ \(2\).svg');
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .aws-btn {

    --slider-height-percentage: 60%;
    --slider-transition-duration: 770ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #d5b1af;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #fad0ce;
    --control-bullet-active-color: #d5b1af;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    } */
.card-outer {
    border-radius: 5px;
    border-radius:10px 40px 40px 40px;
    width: 100%;

}

#card{
    border-radius:10px 40px 40px 40px;
    padding: 2rem;
    color: white;

}

img{
    border-radius: 5%;
    width: 100%;
}

.btn-icon {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #000000,
                -6px -6px 12px #000000;
   }
   
   .btn-icon::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .btn-icon:hover::before {
    width: 9em;
   }